@media (max-width:700px){
    *{
        box-sizing: border-box;
    }
    .main{
        display: flex;
        flex-direction: column;

        
    }
    .list-group{
        display:grid;
        grid-template-columns: auto auto auto auto;
        border-bottom: 1px solid gray;
    }
  /* .main .slidebar{
      width: 100%; 
      display:block;
      
  } */
 
  .order-list{
    width: 100%;
    position: relative;
    left: -15px;
     
  }
  .order-list .table{
      padding:0px;
      margin:0px;
    width: 50%;
    position: relative;
    left:-10px;
     
  }


  .a:hover{
    text-decoration: none;
    font-size: 100%;
    border-bottom: 1px solid gray;
  }
.description{
    display:none;
}








  
}
